<!DOCTYPE html>
<html>

<head>
    <title>Proof of Work</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="pow-container">
        <img src="static/images/shield.svg" width="128" height="128">
        <h1>Proof-of-Work Challenge</h1>
        <div class="details">
            <p><strong>Challenge ID:</strong> <span id="challengeIdDisplay"></span></p>
            <p><strong>Challenge:</strong> <span id="challengeDisplay"></span></p>
            <p><strong>Difficulty:</strong> <span id="difficultyDisplay"></span></p>
        </div>
        <div class="loading-dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <p id="status-text">Solving, please wait...</p>
    </div>

    <script>
        const POW_CHALLENGE_ID = "{{ challenge_id }}";
        const POW_CHALLENGE = "{{ challenge }}";
        const POW_DIFFICULTY = "{{ difficulty }}";
        const NEXT_URL = "{{ next }}";
    </script>
    <script src="static/js/pow.js" defer></script>
</body>

</html>